FROM {{ docker_registry }}/{{ coriolis_containers_namespace }}/coriolis-common:{{ docker_images_tag }}

{% for item in all_providers %}
ADD coriolis-provider-{{item}}/ coriolis-provider-{{item}}
{% endfor %}

RUN yum install -y qemu-img
# NOTE: the `openssl` binary is required by python-novaclient when
# decrypting the password of a Windows worker machine.
RUN yum install -y openssl

{% for item in all_providers %}
RUN /bin/bash -c "pip3 install -e ./coriolis-provider-{{item}}"
{% if item == 'azure' %}
# NOTE: `azure` client library modules import `msrest` which directly
# imports `TYPE_CHECKING` from the `typing` module, but the Python
# distribution we install in the containers does not have an updated
# enough version available to feature the constant, so we add it ourselves:
RUN printf "\nTYPE_CHECKING = False\n" >> /opt/rh/rh-python35/root/usr/lib64/python3.5/typing.py
{% endif %}
{% endfor %}

ADD libnfs.x86_64.rpm /root
RUN rpm -Uvh libnfs.x86_64.rpm

ADD libqemu.so.gz /usr/lib/
RUN gunzip /usr/lib/libqemu.so.gz
RUN ldconfig

# Mapped volume: /etc/coriolis/coriolis.conf
ENTRYPOINT ["/bin/bash", "-c", "coriolis-worker", "--config-file={{ coriolis_config_directory_path }}/coriolis.conf"]
