[DEFAULT]
messaging_transport_url=rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ rabbitmq_host }}:{{ rabbitmq_port }}/
default_messaging_timeout = 60
log_dir=/var/log/coriolis
debug={{ coriolis_debug }}

logging_exception_prefix = %(color)s%(asctime)s.%(msecs)03d TRACE %(name)s [01;35m%(instance)s[00m
logging_debug_format_suffix = [00;33mfrom (pid=%(process)d) %(funcName)s %(pathname)s:%(lineno)d[00m
logging_default_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [[00;36m-%(color)s] [01;35m%(instance)s%(color)s%(message)s[00m
logging_context_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [[01;36m%(request_id)s [00;36m %(color)s] [01;35m%(instance)s%(color)s%(message)s[00m

providers={% for item in export_providers -%}coriolis_provider_{{item|replace("-","_")}}{% if item == 'vmware' -%}_vsphere{%- endif %}.{% if item == 'scvmm' -%}HyperV{%- endif %}ExportProvider,{%- endfor %}{% for item in import_providers -%}coriolis_provider_{{item|replace("-","_")}}.ImportProvider{% if not loop.last -%},{%- endif %}{%- endfor %}

# Whether or not to expose the internal 'info' field of
# a Migration as part of a `GET` request.
include_task_info_in_migrations_api = false

# Whether or not to expose the internal 'info' field of
# a Replica as part of a `GET` request.
include_task_info_in_replicas_api = false
include_task_info_in_replica_executions_api = false


[database]
connection = mysql://{{ coriolis_database_name }}:{{ coriolis_database_password }}@{{ database_address }}/{{ coriolis_database_name }}

[keystone_authtoken]
auth_type = password
auth_uri = {{ internal_protocol }}://{{ keystone_host }}:{{ keystone_public_port }}
auth_url = {{ admin_protocol }}://{{ keystone_host }}:{{ keystone_admin_port }}
username = {{ coriolis_keystone_user }}
password = {{ coriolis_keystone_password }}
user_domain_id = default
project_name = service
project_domain_id = default

[trustee]
auth_type = password
auth_url = {{ admin_protocol }}://{{ keystone_host }}:{{ keystone_admin_port }}/v3
username = {{ coriolis_keystone_user }}
password = {{ coriolis_keystone_password }}
user_domain_id = default

[keystone]
identity_api_version = 3
auth_url = {{ internal_protocol }}://{{ keystone_host }}:{{ keystone_public_port }}/v3

[oslo_policy]
policy_file = {{ coriolis_policy_config_path }}

[conductor]
conductor_rpc_timeout = 60

[worker]
worker_rpc_timeout = 60
export_base_path = {{ coriolis_export_base_path }}

{% if 'vmware' in export_providers or 'vmware' in import_providers %}
[vmware_vsphere_migration_provider]
# Required in order to set the compatibility of the vixDiskLib release
# Coriolis will use during replication/CBT-based migration from VMWare.
# This value should ideally match the ESXi/vCenter hosts versions.
vixdisklib_compatibility_version = 6.0

# The path where the SOs for vixDiskLib are located:
# NOTE: for Ubuntu worker VMs, we must prevent the libglib shipped with
# vixDiskLib to override the system's libglib by prepending the system's
# library paths (for 16.04 and 18.04, respectively):
vixdisklib_library_directory = /lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu:{{ vmware_vix_disklib_path }}

# Whether or not Coriolis should attempt to automatically enable CBT on
# the VM before Replication.
# This requires that the VM have no pre-existing snapshots.
automatically_enable_cbt = false
{% endif %}

{% if 'aws' in export_providers or 'aws' in import_providers %}
[aws_migration_provider]
# Mapping between AWS regions and the ID of subnets in which to boot
# the disk copy workers. The subnet must have a security group rule
# to allow TCP ingress on port 22.
worker_subnet_map = us-west-2: subnet-2551c740

# Mapping between AWS regions and the ID of an Ubuntu 14.04 AMI
# to be used as an image for the disk copy workers.
# The AMIs must have cloud-init configured for an initial run.
worker_ami_map = us-west-2: ami-50946030

# Name of the instance type to be used for the disk copy workers.
# Default is t2.medium.
worker_instance_type = t2.medium

# Migrating requires the machine to be off on AWS. If set to true,
# Coriolis will power off the machine itself before the migration,
# else, Coriolis will error and ask the user to stop the instance.
shutdown_migrated_instance = false

# URL of a csv file containing the information of the instance types
# available on AWS. Can also be a local file URL of the form
# 'file:///home/user/aws_instance_types.csv'
# An updated file may be retrieved from http://www.ec2instances.info
instance_types_csv_url = http://pastebin.com/raw/YbuQE64m
{% endif %}

{% if 'openstack' in export_providers or 'openstack' in import_providers %}
[openstack_migration_provider]
### Export parameters:

# Integer version of the Image API to use for any interactions with Glance,
# supported versions being 1 and 2.
# This value may be overriden on a per-cloud basis with the 'glance_api_version'
# parameter in the endpoint connection info.
# Default is 1
glance_api_version = 1

# The name of the Swift container in which to store the Cinder backups.
# If pre-existing, the container will be reused. If it doesn't exist, a new one
# will be created.
# Default is 'coriolis'
volume_backups_container = coriolis

# Whether to skip certificate verification if the Swift proxy is HTTPS-only
# with self-signed certificates.
# This value may be overriden on a per-cloud basis with the
# 'allow_untrusted_swift' parameter in the connection info.
# Default is false
allow_untrusted_swift = false

# The format in which to fetch Cinder volumes during normal migrations.
# Must be a format supported by Glance
# Default is 'qcow2'
# can be qcow, qcow2, raw, vmdk, vhd, vhdx:
intermediate_volume_format = qcow2

# Custom mapping between the 'os_type' or 'os_distro' of Glance images on the
# source OpenStack. Mapping values must be one of the supported OS types in
# Coriolis.
# custom_os_type_map =

### Options for replicating from a Ceph-based OpenStack.
# The method Coriolis should use for replication.
# If set to 'swift_backups', Coriolis will create Cinder backups and
# fetch the disk chunks from Swift. The Cinder-backup service must
# be configured to use Swift as a storage backend.
# If set to 'ceph_backups', Coriolis will try to read the Cinder
# backups disk chunks directly from Ceph (via librbd). The Cinder-backup
# service must be configured to use Ceph as a storage backend.
# If set to 'ceph_snapshots', Coriolis will create Cinder volume
# snapshots and read the snapshot data chunks from Ceph. The Cinder
# volume service must be confiured to use Ceph as a driver.
# Default is 'swift_backups'
replica_export_mechanism = swift_backups
# Set the following Ceph options to either the credentials of a cluster
# administrator account, or the credentials used by Cinder-volume (if
# 'replica_export_mechanism' is 'ceph_snapshots'), or those of
# Cinder-backup (if 'replica_export_mechanism' is 'ceph_snapshots')
cinder_ceph_volumes_username = cinder-backup
cinder_ceph_pool_name = cinder-backup
cinder_ceph_cluster_name = cinder-backup
# NOTE: please ensure the Ceph-related files are either somewhere in
# '/etc/ceph', or under the path set as the 'export_base_path' option.
cinder_ceph_conf_path = /etc/ceph/ceph.conf
cinder_ceph_keyring_path = /etc/ceph/ceph.client.cinder-backup.keyring
cinder_ceph_backups_diff_hash_algorithm = sha1
cinder_ceph_timeout = 30

### Import parameters:
# If migrating/replicating a heterogeneous workload with both Linux and
# Windows instances, separate image names or IDs will need to be provided
# for the temporary OSMorphing workers for each OS type.
# The 'linux' image will be used for the disk copy worker during the replica
# execution process as well
# Only accepted keys are 'linux' and 'windows'
migr_image_map = linux: 283bdce4-112c-4758-b06a-7e5985a9cd15, windows: Windows Server 2012 R2 Std Eval

# Boolean flag indicating whether or not to list all Neutron networks.
# By default, Coriolis will only list the networks which are in the
# same tenant as the one set in the Coriolis endpoint in use.
list_all_destination_networks = false

# Whether or not unallocated blocks on Cinder target volumes contain
# zeros. This is controlled by the "volume_clear" Cinder configuration
# options. (boolean value)
volumes_are_zeroed = true

# Default hypervisor type. (string value)
# The type of hypervisor the destination OpenStack features,
# supported options being "hyperv", "qemu" or "kvm"
# Default is None, meaning no extra hypervisor-specific actions will be taken
# during the OSMorphing process
hypervisor_type = kvm

# Whether or not to download the worker image to a Cinder volume and boot the
# worker from that. The root disk size on the configured 'migr_flavor_name'
# will be used for the worker VM volume, 'migr_flavor_name' will be used for
# the worker VM volume unless explicitly specified using 'migr_worker_volume_size'.
migr_worker_boot_from_volume = false

# The integer size (in GBs) of the Cinder volume to boot temporary worker VMs
# from. This option is only effective if "migr_worker_boot_from_volume" is set.
# If not set, Coriolis will use the disk size set the selected "migr_flavor_name".
# migr_worker_volume_size =

# Name of the Cinder volume type to be used for
# volumes with unspecified storage backing option from the
# source or which could not be mapped in the "storage_map".
# Default is "" (Cinder scheduler will
# use default volume type)
# default_cinder_volume_type =

# Whether or not to set the Cinder volumes as ephemeral (to be deleted when
# the VM is deleted) on the newly migrated/replicated instance on the
# destination OpenStack. Default is false.
delete_disks_on_vm_termination = true

# List of names or IDs of pre-existing security groups on the destination
# OpenStack to be applied to the migrated/replicated instance.
# Note that the below set will be joined with the list specified via the
# 'security_groups' parameter from the set of destination environment parameters
# (list value)
# default_security_groups = secgroup1, secgroup2

# Name or ID of an existing Neutron network on the destination
# OpenStack where to attach the Neutron port of the temporary disk
# copy/OSMorphing worker VMs. (string value)
migr_network = private

# Whether or not to allocate floating IPs from the "migr_fip_pool_name"
# for the temporary disk copy/OSMorphing worker VMs.
# Default is True
migr_worker_use_fip = true

# Name of an existing Neutron network on the destination OpenStack which
# serves as external and may have floating IPs allocated from it.
# These floating IPs will be associated to the temporary disk copy/OSMorphing
# worker VMs.
# Default is "public"
migr_fip_pool_name = public

# Name of an existing Nova flavor which to boot the temporary
# disk copy/OSMorphing worker VMs as.
# Default is "m1.small"
# (string value)
migr_flavor_name = m1.small

# Whether or not to use config drive to send metadata to the temporary
# disk copy/OSMorphing worker VMs in case Neutron metadata is not available
# Default is false
migr_worker_use_config_drive = false

# Whether or not to reconfigure the internal network settings of each
# interface of the instance being migrated/replicated during the OSMorphing
# process to have the VM perform DHCP on first boot inside the new environment.
# Default is true
set_dhcp = true

# If set to "reuse_ports", Coriolis will reuse any Neutron ports found with
# the MAC addresses needed for the new VM. If set to "keep_mac", Coriolis
# will delete any ports with the MAC addresses the VM needs and recreate them
# with the same MAC address. If set to "create_new_ports", Coriolis will always
# create new ports with new MAC addresses.
port_reuse_policy = keep_mac

# Dictionary with arbitrary key-value pairs to set as tags on the
# migrated/replicated VMs.
# instance_tags =

# Parameters realted to the OSMorphing process for Windows instances:
windows_virtio_iso_url = https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/stable-virtio/virtio-win.iso
cloudbaseinit_x64_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x64.zip
cloudbaseinit_x86_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x86.zip
{% endif %}

{% if 'oracle-vm' in export_providers or 'oracle-vm' in import_providers %}
[oracle_vm_migration_provider]
# If migrating/replicating a heterogeneous workload with both Linux and
# Windows instances, separate template names will need to be provided for the
# temporary OSMorphing workers for each OS type.
# The 'linux' image will be used for the disk copy worker during the replica
# execution process as well
# Only accepted keys are 'linux' and 'windows'
migr_template_name_map = linux: OracleLinux7_template, windows: WS2016_template

# Default migration template guest OS username.
migr_template_username_map = linux: root, windows: Administrator

# Default migration template guest OS password.
migr_template_password = Passw0rd

# Default network name used for worker instances
# during migrations.
migr_network_name = management

# Default server pool name.
server_pool_name = pool1

# Default repository name.
repository_name = repo1

# Whether or not to just create VMs but skip powering them on.
leave_migrated_vm_off = false

# XEN VM domain type.
# can be 'XEN_PVM', 'XEN_HVM', 'XEN_HVM_PV_DRIVERS', 'LDOMS_PVM', 'UNKNOWN'
vm_domain_type = XEN_HVM_PV_DRIVERS

# virtual_disk_clone_type can be: THIN_CLONE, SPARSE_COPY, NON_SPARSE_COPY
virtual_disk_clone_type = THIN_CLONE
windows_pv_drivers_url = https://cloudbase.it/downloads/app/ovm/ovm_win_pv_drivers_all_323_bare_root.zip

# For export we may need to use a different template than the linux one
# specified in the template map. We specify that here
export_template_name = OracleLinux7_template
# Credentials for the export template
export_template_username = root
export_template_password = Passw0rd
{% endif %}

{% if 'oci' in export_providers or 'oci' in import_providers %}
[oci_migration_provider]
# You need to configure this to match your situation
# there is no sensible default that can work globally. The images
# are specific to the region you are in. The bellow ones are from
# us-phoenix-1
#migr_image_map = linux: ocid1.image.oc1.phx.aaaaaaaatel6prh7kwlb77zp6m4v523pegz3fh2j5ulq2lwtmhionpy37wkq, windows: ocid1.image.oc1.phx.aaaaaaaam3rbuegojxzdomvbp6qa2fb45ex24ng7c5ykawuqmomerfblveaq

# Default shape name used for final instances
shape_name = VM.Standard1.2

# Default shape name used for worker instances
# during migrations.
migr_shape_name = VM.Standard1.2

# Default network name used for worker instances
# during migrations.
# migr_subnet_id =

# Default compartment in which the migration should take place.
# compartment =

# Whether or not to set Public IPs on the Migrated/Replicated VMs:
set_public_ip = true

# The GA drivers can be found at:
# https://objectstorage.us-ashburn-1.oraclecloud.com/p/2dopDVhGFBBsBi7xQNuEEmrSK9KxA3ZsY31EblRf_xI/n/internalcraigcarl/b/drivers/o/virtio-1.1.3.zip
# but for some reason, trying to download it using the usual OS morpher downloaders from that location, errs out
# I recommend you host it on some other web server somewhere
# windows_virtio_zip_url = https://example.com/virtio-1.1.3.zip
{% endif %}

{% if 'opc' in export_providers or 'opc' in import_providers %}
[opc_migration_provider]
# Linux and Windows images for the temporary Worker VMs:
migr_image_name_map = linux: /oracle/public/OL_7.2_UEKR4_x86_64, windows: /Compute-a488347/gsamfira@cloudbasesolutions.com/Windows_2012_R2

# The shape to use for the migration Worker VMs:
migr_shape_name = oc3

# If this option is used, please disable clone disks when deploying form replica
# colocated snapshots are faster, but they create a dependency chain
# parent volume --> snapshot --> restored volume
# only the top level object can be deleted.
use_colocated_snapshots = true

# Default volume pool to use. Oracle exposes 2 pools: "default" and "latency".
# The default pool leverages rotary disks, while the latency disks are backed
# by SSD and low latency storage subsystem. The latency pool is suitable for
# databases.
default_volume_pool = default

# Default network name used for worker instances
# during migrations.
migr_network_name = private

# URL of a zip file with the Windows PV drivers:
windows_pv_drivers_url = https://cloudbase.it/downloads/ovm_win_pv_drivers_all_323.zip

# Image used for the export worker
export_image_name = /oracle/public/OL_7.2_UEKR4_x86_64

# Shape used for export worker
export_shape_name = oc3

# Exporting an instance may require an extra disk to be attached, to accomodate the size of the
# largest disks that belong to the exported instance. Make sure to allocate enough space here.
export_root_disk_size = 150
{% endif %}

{% if 'azure' in export_providers or 'azure' in import_providers %}
[azure_migration_provider]

### Export parameters:
# The Azure location to use for any temporary export resources.
# Under most circumstances, this should be the same as the location of the VM
# being Migrated/Replicated which should be specified in the source-env.
export_location = westus

# Default Migration worker VM size. This will be used if no worker_size is set in
# the source_environment. If none is provided, Coriolis will list all available
# flavors on Azure and select the smallest available one that can accommodate
# the number of disks. If not given, Coriolis will select the first worker
# size available which can accomodate attaching all the disks for the
# particular VM being migrated/replicated.
export_worker_size = Standard_D1

# Params of the Azure image to use for the temporary VM:
export_worker_image = version: latest, publisher: Canonical, offer: UbuntuServer, sku: 18.04-LTS

# For use with AzureStack, the following ARM Provider API versions must be
# configured to API versions supported by the AzureStack. If unset, they will
# default to the latest API versions which are supported by the ARM client
# libraries bundled with Coriolis.
# export_arm_resource_api_version = 2016-09-01
# export_arm_compute_api_version = 2016-03-30
# export_arm_network_api_version = 2015-06-15
# export_blob_storage_api_version = 2015-04-05

### Import parameters:
# The Azure location to which to migrate. The location may also be set for each
# migration/replica in turn using the destination-environment paramter.
migr_location = westus

# Name of the Azure storage account to create VHD Page blobs on if
# "disk_storage_backing_type" is set to "blob_storage"
# storage_account_name = storageaccount

# Name of the Azure storage container to create VHD page blobs on if
# "disk_storage_backing_type" is set to 'blob_storage'
# storage_container_name = coriolis

# The type of storage backing to use for the disks of VMs migrated to Azure.
# If set to 'blob_storage', disks will be transferred as VHD Page Blobs inside
# a pre-existing Blob Storage Account inside the resource group being migrated
# to. If set to 'managed_disks', disks will be transferred as Managed Disks
# within the resource group being migrated to. If not set, Coriolis will query
# the available Compute API versions to determine if Managed Disks are
# available (2017-03-30 onwards), else it defaults to using Blob Storage.
disk_storage_backing_type = managed_disks

# Default migrated instance size. This will be used if no vm_size is set in
# the destination-environment. Note: migration will fail if migrated instance
# size cannot accommodate the number of disks than can be migrated.
# If not set, the smallest available size that can accommodate the number of
# disks will be selected for the VM.
# default_vm_size = Standard_A1

# The images to use for temporary worker VMs:
linux_migr_image = version: latest, publisher: Canonical, offer: UbuntuServer, sku: 14.04.0-LTS
windows_migr_image = version: latest, publisher: MicrosoftWindowsServer, offer: WindowsServer, sku: 2016-Datacenter-Server-Core

# Default migration worker size. This will be used if no worker_size is set in
# the target_environment. If none is provided, Coriolis will list all available
# flavors on Azure and select the smallest available one that can accommodate
# the number of disks. If not given, Coriolis will select the first worker
# size available which can accomodate attaching all the disks for the
# particular VM being migrated/replicated.
default_worker_size = Standard_D1

# Whether or not to set any IP addresses read from source VM NIC configurations
# to destination NICs on Azure. This requires that the network/subnet mappings
# in the 'network_map' are to networks/subnets on Azure which include the range
# of the source networks. Default is true
preserve_nic_ips = true

# For use with AzureStack, the following ARM Provider API versions must be
# configured to API versions supported by the AzureStack. If unset, they will
# default to the latest API versions which are supported by the ARM client
# libraries bundled with Coriolis.
# arm_resource_api_version = 2016-09-01
# arm_compute_api_version = 2016-03-30
# arm_network_api_version = 2015-06-15
# blob_storage_api_version = 2015-04-05

# NOTE: as of November 2018, the latest GA APIs for the "Microsoft.Network"
# Provider is not available in the version of the `azure-mgmt-network`
# package in use, so we must set it to latest available version:
arm_network_api_version = 2018-07-01

# Cloudbase-init Zip URLs for each supported Windows architecture:
cloudbaseinit_x86_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x86.zip
cloudbaseinit_x64_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x64.zip
{% endif %}

{% if 'scvmm' in export_providers or 'scvmm' in import_providers %}
[scvmm_migration_provider]
# Export parameters:

# Attempt application consistent snapshots, and if that fails, fallback to
# crash consistent snapshots.
fallback_to_crash_consistent_snapshots = true

# Verify the SSL certificate of the RTC service.
# Set this to false if using a self signed certificate.
verify_rct_server = false

# Import parameters:

# Default vm templates used for worker instances during migrations
# migr_template_name_map =

# Default migration template guest OS username.
# migr_template_username_map =

# Cloud name, used for scheduling VMs.
# cloud_name =
{% endif %}

[serialization]

temp_keypair_password = {{ temp_keypair_password }}

[proxy]
# url = http://proxy:3128
# Optional proxy credentials
# username =
# password =
# Optional comma separated list of proxy exclusions
# no_proxy =
